/* BASE */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

/* HERO(HEADER) */
header {
  background-image: url("media/bg-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-section .logo {
  width: 160px;
}
.hero-section .btn-main {
  color: #d6c330;
  border: #d6c330 2px solid;
  padding: 10px 40px;
  border-radius: 20px;
  margin-top: 25px;
}

.hero-section .btn-main:hover {
  background-color: #d6c330;
  color: #f7f7f7;
}

.hero-section .arcade-img {
  width: 100%;
  padding: 0 auto;
  max-width: 420px;
  margin: 0 auto;
  display: block;
}

/* DESCRIZIONE */
.desc-section {
  background-color: #1b1540;
}


/* FORM */
#form {
  background-color: #ffffff;
  color: #000000;
  padding: 80px 0;
}

#form h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

#form .date {
  font-size: 1.1rem;
  margin-bottom: 30px;
  font-weight: bold;
}

#form .form-card {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 12px;
}
